

	
		<div class = "row">
					<div class = "span9">
						<h4>Name of post goes here</h4><br>
					</div>
				</div>
				<div class = "row">
					<div class = "span9">
            			<pre>
            			 Code goes here.  
            			 How many posts to show?  Archive by age? Have number of views posted?  Number of replies? 

            			 Note that the header and code section is set up in index.ejs, being added to body tag in layout.ejs.
    					</pre>
    				</div>
    			</div>


	
